{% render 'partials/head.liquid' title: webinar.title %}

<main id="content">

    {% comment %} back button {% endcomment %}

    <div class="nav-cat-buttons">
        <a href="webinar-overzicht.liquid" class="back-button">Return to webinars</a>

        <div>
            {% comment %} categorie button {% endcomment %}
            {% if webinar.categories %}
            {% for category in webinar.categories %}
            <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    {% comment %} webinar video {% endcomment %}
    <div class="webinar-video">
        {% for video in webinar.video %}
        <video controls class="webinar-video">
            <source src="https://fdnd-agency.directus.app/assets/{{ video }}" />
        </video>
        {% endfor %}
    </div>

    <section class="page-content">
        {% comment %} webinar titel {% endcomment %}
        <h1 class="details-page-h1">{{ webinar.title }}</h1>

        {% comment %} grid layout voor info onder titel {% endcomment %}
        {% comment %} speaker info {% endcomment %}
        <div class="speaker-info">
            {% for speaker in webinar.speakers %}
            <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}"
                class="speakers-image" alt="Picture of {{ speaker.avl_speakers_id.fullname }}">
            <div>
                <p>{{ speaker.avl_speakers_id.fullname }}</p>
                <p>{{ speaker.avl_speakers_id.entitle }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    {% comment %} categorie button {% endcomment %}
    <details class="details-field">
        <summary class="description-summary"><strong>Description</strong></summary>
        <div>
            <p><strong>Views:</strong> {{ webinar.views }} views</p>
            <p><strong>Date:</strong> {{ webinar.date | date: "%d %b %Y" }}</p>
        </div>
        <p>{{ webinar.description }}</p>
    </details>

    {% comment %} transcript {% endcomment %}
    <div class="detail-buttons-details">
        <details class="transcript-button">
            <summary><strong>Read transcript</strong></summary>
            {% if webinar.transcript %}
            <p class="transcript-text">{{ webinar.transcript }}</p>
            {% else %}
            <p>No transcript available.</p>
            {% endif %}
        </details>
        <details class="resource-button">
            <summary><strong>Resources</strong></summary>
            {% if webinar.resources %}
            <p>{{ webinar.resources }}</p>
            {% else %}
            <p>No resources found</p>
            {% endif %}
        </details>
     </div>
     


    {% comment %} comment sectie {% endcomment %}

    <h2><strong>Q&A</strong> ask a question</h2>

    <div class="form-section">
        {% if webinar.slug and webinar.id %}
        <form method="post" action="{{ webinar.slug }}/{{ webinar.id }}">
            {% else %}
            <form method="post" action="#">
                {% endif %}
                <div class="input-container">
                    <input type="text" name="comment" placeholder="Add a comment...">
                    <button type="submit" class="send-button">Send</button>
                </div>
            </form>
    </div>

    <div class="comment-section">
        <h2><strong>Comments</strong></h2>
        <div>
            {% for comment in comments %}
            {% if comment.parent_id == null %}
            <p class="comments">{{ comment.content }}</p>
            {% endif %}
            {% if comment.parent_id != null %}
            <p class="replies">{{ comment.content }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    </section>

</main>

{% render 'partials/foot.liquid' %}