{% render 'partials/head.liquid' title: webinar.title %}

<main id="content">

    <button onclick="window.location.href='/'" class="back-button"><strong>Back to home</strong></button>

    <div class="webinar-details">
        <div class="webinar-video">
            {% if webinar.video %}
            <video controls class="webinar-video">
                <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" />
            </video>
            {% endif %}
        </div>

        <h1 class="details-page-h1">{{ webinar.title }}</h1>

        <div class="webinar-info">
            <p><strong>Views:</strong> {{ webinar.views }} views</p>
            <p><strong>Date:</strong> {{ webinar.date | date: "%d %b %Y" }}</p>
        </div>

        <br>
        {% comment %} categorie {% endcomment %}
        <div class="categorie-box">
            {% for category in webinar.categories %}
            <p>{{ category.avl_categories_id.name }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="buttons-layout">
        {% comment %} description {% endcomment %}
        <details class="details-button">
            <summary><strong>Description</strong></summary>
            <p>{{ webinar.description }}</p>
        </details>

        {% comment %} transcript {% endcomment %}
        <details class="details-button">
            {% if webinar.transcript %}
            <summary><strong>Read transcript</strong></summary>
            <p>{{ webinar.transcript }}</p>
            {% else %}
            <p>Geen transcript beschikbaar.</p>
            {% endif %}
        </details>

        {% comment %} resources {% endcomment %}
        <details class="details-button">
            <summary><strong>Resources</strong></summary>
            <p>nog invoegen!!</p>
        </details>

        <details class="details-button">
            {% for speaker in webinar.speakers %}
            <summary><strong>About speaker</strong></summary>
            <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}"
                class="speakers-image" alt="Speaker Picture">
            <p>{{ speaker.avl_speakers_id.fullname }}</p>
            <p>{{ speaker.avl_speakers_id.entitle }}</p>
            {% endfor %}
        </details>
    </div>









</main>

{% render 'partials/foot.liquid' %}