{% render 'partials/head.liquid' title: webinar.title %}

<main id="content">

    {% comment %} back button {% endcomment %}
    <button onclick="window.location.href='/'" class="back-button"><strong>Return to home</strong></button>


    {% comment %} webinar video {% endcomment %}
    <div class="webinar-video">
        {% for video in webinar.video %}
        <video controls class="webinar-video">
            <source src="https://fdnd-agency.directus.app/assets/{{ webinar.video }}" />
        </video>
        {% endfor %}
    </div>

    {% comment %} webinar titel {% endcomment %}
    <h1 class="details-page-h1">{{ webinar.title }}</h1>

    {% comment %} grid layout voor info onder titel {% endcomment %}
    {% comment %} <div class="info-text"> {% endcomment %}

        {% comment %} speaker info {% endcomment %}
        {% comment %} <div class="speaker-info">
            {% for speaker in webinar.speakers %}
            <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}"
                class="speakers-image" alt="Speaker Picture">
            <p class="speaker-text">{{ speaker.avl_speakers_id.fullname }}</p>
            <p>{{ speaker.avl_speakers_id.entitle }}</p>
            {% endfor %}
        </div>

        <div class="categorie-button"> {% endcomment %}
            {% comment %} categorie button {% endcomment %}
            {% comment %} {% for category in webinar.categories %}
            <p class="categorie-box">{{ category.avl_categories_id.name }}</p>
            {% endfor %}
        </div>
    </div> {% endcomment %}


    {% comment %} categorie button {% endcomment %}
    <details class="details-field">
        <summary>
                <strong>Description</strong>
                <div class="description-info">
                <p><strong>Views:</strong> {{ webinar.views }} views</p>
                <p><strong>Date:</strong> {{ webinar.date | date: "%d %b %Y" }}</p>
            </div>
        </summary>
        <p class="details-button">{{ webinar.description }}</p>
    </details>



    {% comment %} comment sectie {% endcomment %}


    <h2>Q&A</h2>
    <p class="sub-title">Ask a question</p>

    <div class="form-section">
        <form method="post" action="{{ webinar.slug }}/{{ webinar.id }}">
            <input type="text" name="comment" placeholder="Add a comment...">
            <button type="submit" class="...">Send</button>
        </form>
    </div>

    <div class="comment-section">
        <h3>Comments:</h3>
        <div>
            {% for comment in comments %}
            {% if comment.parent_id == null %}
            <p class="comments" comment>{{ comment.content }}</p>
            {% endif %}
            {% if comment.parent_id != null %}
            <p class="replies">{{ comment.content }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>





    {% comment %} transcript {% endcomment %}
    {% comment %} <button class="details-button">Read transcript</button> {% endcomment %}
    {% comment %} {% if webinar.transcript %}

    <p>{{ webinar.transcript }}</p>
    {% else %}
    <p>No transcript available.</p>
    {% endif %} {% endcomment %}

    {% comment %} <button class="details-button">About speaker</button> {% endcomment %}


    {% comment %} resources {% endcomment %}
    {% comment %} <details class="details-button">
        <summary><strong>Resources</strong></summary>
        {% if webinar.resources %}
        <p>{{ webinar.resources }}</p>
        {% else %}
        <p>No resources found</p>
        {% endif %}
    </details> {% endcomment %}

    {% comment %} <details class="details-button">
        {% for speaker in webinar.speakers %}
        <summary><strong>About speaker</strong></summary>
        <img src="https://fdnd-agency.directus.app/assets/{{ speaker.avl_speakers_id.profile_picture }}"
            class="speakers-image" alt="Speaker Picture">
        <p>{{ speaker.avl_speakers_id.fullname }}</p>
        <p>{{ speaker.avl_speakers_id.entitle }}</p>
        {% endfor %}
    </details> {% endcomment %}
    </div>









</main>

{% render 'partials/foot.liquid' %}